In [1]:
import geopandas as gpd

Schools

NameError: name 'Schools' is not defined

In [2]:
Schools_gdf = gdf.read_file('Schools.geojson')

NameError: name 'gdf' is not defined

In [3]:

import seaborn
import geopandas as gpd
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.colors import Normalize
from matplotlib import cm

In [4]:
Schools_gdf = gdf.read_file('Schools.geojson')

NameError: name 'gdf' is not defined

In [6]:
Schools_gdf = gpd.read_file('Schools.geojson')
Schools_gdf.head(15)

,OBJECTID,AUN,SCHOOL_NUM,LOCATION_ID,SCHOOL_NAME,SCHOOL_NAME_LABEL,STREET_ADDRESS,ZIP_CODE,PHONE_NUMBER,ACTIVE,GRADE_LEVEL,GRADE_ORG,ENROLLMENT,TYPE,TYPE_SPECIFIC,geometry
0,1,226517352.0,NaN,None,St Frances Cabrini Regional Catholic School,St Frances Cabrini,405 N 65th St,19151,(215)748-2994,O,Elem/Middle,pre K-8,NaN,3,Archdiocese,POINT (-75.24913590952649 39.96951200549443)
1,2,226519242.0,NaN,None,St Pio Regional Catholic School,St Pio Catholic Regional School,1826 Pollock Street,19145,(215)467-5430,O,Elem/Middle,pre K-8,NaN,3,Archdiocese,POINT (-75.17828624720347 39.9135616217129)
2,3,300518675.0,NaN,None,Sylvan Learning Center\r\n,Sylvan Lrn Ctr,6537 Roosevelt Blvd,19149,(215)743-6200,O,Tutoring,Ungraded,NaN,3,Private,POINT (-75.06653276406854 40.0350321062755)
3,4,300513270.0,NaN,None,Delta School,Delta School,3515 WOODHAVEN RD,19154,215-637-8235,O,Elem/Mid/High,K-12,NaN,3,Private,POINT (-74.97727226327292 40.09266068613433)
4,5,226514502.0,NaN,None,Norwood Fontbonne MS,Norwood Fontbonne MS,8891 Germantown Ave,19118,215-247-3811,O,Elem/Middle,pre K-8,NaN,3,Private,POINT (-75.21486307727666 40.08050842500007)
5,6,226511002.0,NaN,None,Springside Chestnut Hill Academy,Springside Chestnut Hill Academy,500 W Willow Grove Ave,19118,(215) 247-4700,O,Elem/Mid/High,pre K-12,NaN,3,Private,POINT (-75.20828325223403 40.06216198746611)
6,7,226515802.0,NaN,None,Springside Chestnut Hill Academy,Springside Chestnut Hill Academy,8000 CHEROKEE ST,19118,(215) 247-7200,O,Elem/Mid/High,pre K-12,NaN,3,Private,POINT (-75.21283228280197 40.06082127566781)
7,8,126513070.0,7557.0,3308,Belmont Academy Charter School,Belmont Academy CS,907 N 41st St,19104,(215) 396-5768,O,Elementary School,K,NaN,2,Charter,POINT (-75.2055509793296 39.97073224433291)
8,9,NaN,NaN,3322,Philadelphia Academy Charter School (Annex),Phila Acad CS,1700 Tomlinson Rd,19116,215-673-3990,O,High School,9-12,NaN,2,Charter,POINT (-75.01711570126631 40.10487496631188)
9,10,NaN,NaN,3374,Alliance for Progress Charter School (Annex),Alliance CS (Annex),1630-32 N 16th St,19121,(215) 232-4892,O,Elementary School,4-8,NaN,2,Charter,POINT (-75.16137703016577 39.97868846137695)
10,11,226510912.0,NaN,None,Cedar Grove Christian Acad Lower School,Cedar Grove Christian Acad,600 Hellerman Street,19111,(215) 725-3383,O,Elem/Middle,pre K-8,NaN,3,Private,POINT (-75.0922342808153 40.04945020460961)
11,12,226519162.0,NaN,None,St Peters School,St Peters School,311-21 LOMBARD ST,19147,(215) 925-3963,O,Elem/Middle,pre K-8,NaN,3,Private,POINT (-75.14814199959174 39.94267973136014)
12,13,226519672.0,NaN,None,Timothy Academy,Timothy Acad,303 W Lehigh Ave,19133,(215) 425-8886,O,Elem/Middle,pre K-8,NaN,3,Private,POINT (-75.13754900445531 39.99198897552776)
13,14,226518302.0,NaN,None,St Joseph's Preparatory School,St. Joseph's Prep Sch,1733 W GIRARD AVE,19130,215-978-1950,O,High School,9-12,NaN,3,Private,POINT (-75.16489639143394 39.97315271671999)
14,15,226515682.0,NaN,None,Faith Connection Christian Academy,Faith Connection Christian Acad,4524 Baltimore Ave,19143,(215) 592-0974,O,Elem/Mid/High,K-12,NaN,3,Private,POINT (-75.2137236571777 39.94874297688273)

In [8]:
crash_data_collision_crash_2007_2017_gdf = gpd.read_file('crash_data_collision_crash_2007_2017.geojson')
crash_data_collision_crash_2007_2017_gdf.tail(15)

,objectid_1,objectid,crn,district,county,municipality,crash_year,crash_month,day_of_week,time_of_day,...,ped_count,ped_death_count,ped_maj_inj_count,max_severity_level,comm_veh_count,dec_lat,dec_long,rdwy_surf_type_cd,county_name,geometry
77447,2015,25989,2017035786,6,67,67301,2017,3,2,1210,...,0,0,0,0,0,40.0791,-75.2095,,Philadelphia,POINT (-75.20950000000001 40.0791)
77448,1730,22322,2017041416,6,67,67301,2017,3,6,1040,...,0,0,0,8,0,40.0340,-75.0744,,Philadelphia,POINT (-75.0744 40.034)
77449,1731,22375,2017033079,6,67,67301,2017,2,6,1214,...,0,0,0,4,0,39.9182,-75.2088,,Philadelphia,POINT (-75.2088 39.9182)
77450,1732,22385,2017041404,6,67,67301,2017,3,3,1730,...,0,0,0,8,0,40.0627,-75.0428,,Philadelphia,POINT (-75.0428 40.0627)
77451,1733,22411,2017017619,6,67,67301,2017,2,3,1245,...,0,0,0,8,0,40.0442,-75.0027,,Philadelphia,POINT (-75.0027 40.0442)
77452,1734,22425,2017028843,6,67,67301,2017,2,7,325,...,0,0,0,2,1,39.9240,-75.1933,,Philadelphia,POINT (-75.19329999999999 39.924)
77453,1735,22435,2017043785,6,67,67301,2017,4,2,800,...,0,0,0,9,0,39.9701,-75.1265,,Philadelphia,POINT (-75.12649999999999 39.9701)
77454,1736,22460,2017010586,6,67,67301,2017,1,5,1319,...,0,0,0,3,0,39.9982,-75.1097,,Philadelphia,POINT (-75.1097 39.9982)
77455,1737,22475,2017033052,6,67,67301,2017,2,7,1614,...,0,0,0,4,0,40.0491,-75.0845,,Philadelphia,POINT (-75.08450000000001 40.0491)
77456,1738,22483,2017023942,6,67,67301,2017,2,7,2200,...,0,0,0,4,0,40.0808,-75.0286,,Philadelphia,POINT (-75.0286 40.0808)
77457,1739,22491,2017060716,6,67,67301,2017,5,2,1914,...,1,0,0,4,0,39.9277,-75.1587,,Philadelphia,POINT (-75.1587 39.9277)
77458,1740,22494,2017055573,6,67,67301,2017,4,6,718,...,0,0,0,4,0,40.0868,-74.9718,,Philadelphia,POINT (-74.9718 40.0868)
77459,1741,22524,2017043874,6,67,67301,2017,4,1,1158,...,1,0,0,8,0,39.9501,-75.1706,,Philadelphia,POINT (-75.17059999999999 39.9501)
77460,1742,22532,2017041334,6,67,67301,2017,4,6,2300,...,0,0,0,3,0,39.9397,-75.2255,,Philadelphia,POINT (-75.2255 39.9397)
77461,1743,22569,2017012490,6,67,67301,2017,1,2,1800,...,1,0,0,8,0,39.9832,-75.1568,,Philadelphia,POINT (-75.1568 39.9832)

In [9]:
blood_lead_gdf = gpd.read_file('blood_lead.geojson')
blood_lead_gdf.head(15)

,id,census_tra,data_redac,num_bll_5p,num_screen,perc_5plus,geometry
0,0,42101000100,0,0.0,100.0,0.0,"POLYGON ((-75.14147213273969 39.9517072267047,..."
1,1,42101000200,1,NaN,109.0,NaN,"POLYGON ((-75.162377698504 39.9576545523082, -..."
2,2,42101000300,1,NaN,110.0,NaN,"POLYGON ((-75.17820482839041 39.9598134132842,..."
3,3,42101000401,1,NaN,61.0,NaN,"POLYGON ((-75.1729917788024 39.9546437050483, ..."
4,4,42101000402,0,0.0,41.0,0.0,"POLYGON ((-75.1633313650233 39.9533392100125, ..."
5,5,42101000500,1,NaN,49.0,NaN,"POLYGON ((-75.1634037710016 39.9533470650473, ..."
6,6,42101000600,0,0.0,24.0,0.0,"POLYGON ((-75.1639387712695 39.9508740649554, ..."
7,7,42101000700,0,0.0,57.0,0.0,"POLYGON ((-75.17349243240059 39.9520618460711,..."
8,8,42101000801,1,NaN,57.0,NaN,"POLYGON ((-75.1774238003255 39.9505040569508, ..."
9,9,42101000803,0,0.0,63.0,0.0,"POLYGON ((-75.1774238003255 39.9505040569508, ..."
10,10,42101000804,0,0.0,86.0,0.0,"POLYGON ((-75.1648475938443 39.9470084055078, ..."
11,11,42101000901,0,0.0,21.0,0.0,"POLYGON ((-75.1642667713794 39.9493480641678, ..."
12,12,42101000902,1,NaN,62.0,NaN,"POLYGON ((-75.1530893693124 39.9460042685997, ..."
13,13,42101001001,0,0.0,68.0,0.0,"POLYGON ((-75.15313476730221 39.9457870640091,..."
14,14,42101001002,0,0.0,82.0,0.0,"POLYGON ((-75.150342248005 39.943739726991, -7..."

In [10]:

maxvalue = blood_lead_gdf['num_screen'].max()
minvalue = blood_lead_gdf['num_screen'].min()
stand = blood_lead_gdf['num_screen'].std()

print('The max, min, and standard deviation values are:', maxvalue, minvalue, stand)

The max, min, and standard deviation values are: 846.0 6.0 143.47553306685555